

.button-area
{
	padding: 15px; /* Padding alrededor de los botones */
	background-color: rgb(219, 219, 219); /* Fondo gris */
	border-radius: 12px; /* Bordes redondeados */
	max-width: 600px; /* Ancho máximo */
	width: 100%; /* Ancho completo hasta el límite de max-width */
	box-shadow: 0 4px 8px rgb(0, 0, 1); /* Sombra para profundidad */
}

.btn-custom
{
	background-color: rgb(16, 168, 52); /* Color de fondo verde */
	color: white; /* Letra blanca */
	padding: 20px; /* Tamaño más grande */
	font-size: 20px; /* Letra más grande */
	border-radius: 12px; /* Bordes redondeados */
	transition: background-color 0.3s ease; /* Transición suave */
	width: 100%; /* Ocupa el 100% del ancho */
}

.btn-login
{
	background-color: rgb(0, 171, 228);
	color: white;
	font-size: 20px;
	border-radius: 12px;
	transition: background-color 0.3s ease;
	width: 100%;
	
}

.btn-singin
{
	background-color: rgb(220, 0, 0);
	color: white;
	font-size: 20px;
	border-radius: 12px;
	transition: background-color 0.3s ease;
	width: 100%;
}

.btn-signout
{
	background-color: rgb(220, 0, 0);
	color: white;
	font-size: 20px;
	border-radius: 12px;
	transition: background-color 0.3s ease;
	width: 100%;
}

.btn-custom:hover
{
	background-color: #198c32; /* Verde más oscuro al pasar el cursor */
	color: white
}

.btn-login:hover
{
	background-color: rgb(0, 139, 186); /* Verde más oscuro al pasar el cursor */
	color: white
}

.btn-singin:hover
{
	
	background-color: rgb(181, 0, 0); /* Verde más oscuro al pasar el cursor */
	color: white
}