
        <div class="button-area" id="button-area">
            <div class="row">
                <div class="col-12 mb-3">
                    <button class="btn btn-custom" id="play-local">PARTIDA LOCAL</button>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-custom" id="play-online">PARTIDA ONLINE</button>
                </div>
                <div class="col-12 mb-3">
                    <button routerLink="/tournament"class="btn btn-custom" id="play-tournament">TORNEO</button>
                </div>
                <div class="col-12 mb-3">
                    <button class="btn btn-custom" id="play-tutorial">TUTORIAL</button>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <button routerLink="/login" class="btn btn-login" id="btn-login">INICIAR SESIÓN</button>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <button routerLink="/singin" class="btn btn-singin" id="btn-singin">CREAR CUENTA</button>
                </div>
            </div>
        </div>
