**/node_modules/*
**/.git
**/README.md
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/install.sh
*.o
*.a
*.exe
*.out
test
*.rpt
*.dSYM
.DS_Store
.vscode/*
.gitattributes