Django==3.1.7
psycopg2>=2.8
markdown
django-filter
djangorestframework
django-cors-headers
Pillow
djangorestframework-simplejwt
importlib_metadata==8.4.0
python-decouple
django-otp
django-two-factor-auth
phonenumbers
