
<div class="login-area container-fluid d-flex justify-content-center align-items-center">
  <h2 class="login-title text-center mb-4">Log in</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="loginError" class="alert alert-danger">
      {{ loginError }}
    </div>

    <div class="formGroup">
      <label for="username">Username</label>
      <input id="username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
        <small class="text-danger">Invalid username</small>
      </div>
    </div>
    <div class="formGroup">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small class="text-danger">Invalid password</small>
      </div>
    </div>
    <button class="submit-login-btn" type="submit">Login</button>
  </form>
</div>
