<header class="container-fluid">
    <div class="logo">
        <button routerLink="" class="home-button" id="home-button">
            <img src="../../assets/PongLogo.png" alt="Pong page logo">
        </button>
    </div>
    <app-language-switcher></app-language-switcher>
    <div class="buttons" *ngIf="isReady">
        <button *ngIf="isLoggedIn" 
                (click)="navigateToProfile()" 
                class="btn-profile" 
                id="profile-button" i18n>
            Profile
        </button>
        <button *ngIf="isLoggedIn"
                (click)="navigateToUpdateProfile()"
                class="btn-update-profile"
                id="update-profile-button" i18n>
            Update Profile
        </button>
        <button *ngIf="isLoggedIn"
                (click)="logout()"
                class="btn-logout"
                id="logout-button" i18n>
            Logout
        </button>
        <button *ngIf="!isLoggedIn" 
                routerLink="/login" 
                class="btn-login" 
                id="login-button" i18n>
            Login
        </button>
    </div>
</header>