<header class="container-fluid">
    <div class="logo">
        <button routerLink="" class="home-button" id="home-button">
            <img src="../../assets/PongLogo.png" alt="Pong page logo">
        </button>
    </div>
    <div class="buttons">
        <button routerLink="/search" class="btn-search" id="search-button">
            Search
        </button>
        <button *ngIf="isLoggedIn" 
                (click)="navigateToProfile()" 
                class="btn-profile" 
                id="profile-button">
            Profile
        </button>
        <button *ngIf="isLoggedIn"
                (click)="logout()"
                class="btn-logout"
                id="logout-button">
            Logout
        </button>
        <button *ngIf="!isLoggedIn" 
                routerLink="/login" 
                class="btn-login" 
                id="login-button">
            Login
        </button>
    </div>
</header>
