header
{
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	background-color:rgb(16, 168, 52);
	color: white;
	box-shadow: 0 2px 4px rgb(0, 0, 1);
	padding: 0px;
	align-items: center;
}

header .home-button
{
	background-color: rgb(16, 168, 52);
	border: none;
}

header .header-button
{
	background-color: rgb(16, 168, 52);
	border: none;
	padding: 20px;
}

.btn-update-profile {
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #ffa500;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-update-profile:hover {
    background-color: #ff8c00;
}

.logo {
	flex: 0 0 auto;
}

app-language-switcher {
	margin: 0 20px;
}

.buttons {
	flex: 0 0 auto;
}
