header
{
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	background-color:rgb(16, 168, 52);
	color: white;
	box-shadow: 0 2px 4px rgb(0, 0, 1);
	padding: 0px;
}

header .home-button
{
	background-color: rgb(16, 168, 52);
	border: none;
}

header .header-button
{
	background-color: rgb(16, 168, 52);
	border: none;
	padding: 20px;
}