<header class="container-fluid">
    <div class="logo">
        <button routerLink="" class="home-button" id="home-button">
            <img src="../../assets/PongLogo.png" alt="Pong page logo">
        </button>
    </div>
    <div class="buttons">
        <app-language-selector></app-language-selector>
        <button *ngIf="isLoggedIn" 
                (click)="navigateToProfile()" 
                class="btn-profile" 
                id="profile-button">
            {{ translate('PROFILE') }}
        </button>
        <button *ngIf="isLoggedIn"
                (click)="navigateToUpdateProfile()"
                class="btn-update-profile"
                id="update-profile-button">
            {{ translate('UPDATE_PROFILE') }}
        </button>
        <button *ngIf="isLoggedIn"
                (click)="logout()"
                class="btn-logout"
                id="logout-button">
            {{ translate('LOGOUT') }}
        </button>
        <button *ngIf="!isLoggedIn" 
                routerLink="/login" 
                class="btn-login" 
                id="login-button">
            {{ translate('LOGIN') }}
        </button>
    </div>
</header>
