<div class="tournamentNameArea container-fluid d-flex justify-content-center align-items-center">
    <h2 class="tournamentFormTitle text-center mb-4">Name selection</h2>
    <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
      <div class="formGroup">
        <label for="player1">Player 1</label>
        <input id="player1" formControlName="player1">
        <div *ngIf="tournamentForm.get('player1')?.touched && tournamentForm.get('player1')?.invalid">
          <small class="text-danger">Invalid name</small>
        </div>
      </div>
      <div class="formGroup">
        <label for="player2">Player 2</label>
        <input id="player2" formControlName="player2">
        <div *ngIf="tournamentForm.get('player2')?.touched && tournamentForm.get('player2')?.invalid">
          <small class="text-danger">Invalid name</small>
        </div>
      </div>
      <div class="formGroup">
        <label for="player3">Player 3</label>
        <input id="player3" formControlName="player3">
        <div *ngIf="tournamentForm.get('player3')?.touched && tournamentForm.get('player3')?.invalid">
          <small class="text-danger">Invalid name</small>
        </div>
      </div>
      <div class="formGroup">
        <label for="player4">Player 4</label>
        <input id="player4" formControlName="player4">
        <div *ngIf="tournamentForm.get('player4')?.touched && tournamentForm.get('player4')?.invalid">
          <small class="text-danger">Invalid name</small>
        </div>
      </div>
      <button class="submit-login-btn" type="submit">Ready</button>
      <div *ngIf="tournamentForm.errors?.['nonUniquePlayers'] && tournamentForm.get('player4')?.touched && tournamentForm.get('player3')?.touched && tournamentForm.get('player2')?.touched && tournamentForm.get('player1')?.touched">
        <small class="text-danger">Player names must be unique.</small>
      </div>
    </form>
</div>