.localPlayNameArea {
	background-color: rgb(219, 219, 219); /* Fondo gris */
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075); /* 0.125rem to 2px, 0.25rem to 4px */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 100%;
    max-width: 300px;
}

.localPlayFormTitle
{
    margin-bottom: 16px;
}

.form-group
{
    margin-bottom: 16px;
}

.submit-login-btn
{
    background-color: rgb(220, 0, 0);
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 12px;
}

.submit-login-btn:hover
{
	
	background-color: rgb(181, 0, 0);
	color: white
}