<div class="localPlayNameArea container">
    <h2 class="localPlayFormTitle text-center mb-4">{{ 'multiplayer.nameselection' | translate }}</h2>
    <form [formGroup]="multiplayerForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
            <!-- Player 1 Box -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="player-box">
                    <div class="formGroup">
                        <label for="player1">{{ 'multiplayer.player1' | translate }}</label>
                        <input class="form-control" id="player1" formControlName="player1">
                        <div *ngIf="multiplayerForm.get('player1')?.touched && multiplayerForm.get('player1')?.invalid">
                            <small class="text-danger">{{ 'multiplayer.invalidname' | translate }}</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Player 2 Box -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="player-box">
                    <div class="formGroup">
                        <label>{{ 'multiplayer.player2type' | translate }}</label>
                        <div class="player2-options">
                            <label>
                                <input type="radio" formControlName="player2Type" value="guest" (change)="onPlayer2TypeChange('guest')" i18n>
                                {{ 'multiplayer.playasguest' | translate }}
                            </label>
                            <label>
                                <input type="radio" formControlName="player2Type" value="registered" (change)="onPlayer2TypeChange('registered')" i18n>
                                {{ 'multiplayer.playasregistereduser' | translate }}
                            </label>
                        </div>

                        <div *ngIf="!showPlayer2Auth">
                            <label for="player2">{{ 'multiplayer.player2name' | translate }}</label>
                            <input class="form-control" id="player2" formControlName="player2">
                            <div *ngIf="multiplayerForm.get('player2')?.touched && multiplayerForm.get('player2')?.invalid">
                                <small class="text-danger">{{ 'multiplayer.invalidname' | translate }}</small>
                            </div>
                        </div>

                        <div *ngIf="showPlayer2Auth" class="auth-form" [formGroup]="player2AuthForm">
                            <div class="formGroup">
                                <label for="username2">{{ 'multiplayer.username' | translate }}</label>
                                <input class="form-control" id="username2" formControlName="username">
                            </div>
                            <div class="formGroup">
                                <label for="password2">{{ 'multiplayer.password' | translate }}</label>
                                <input class="form-control" id="password2" type="password" formControlName="password">
                            </div>
                            <button type="button" class="btn btn-primary" (click)="authenticatePlayer2()">
                                {{ 'multiplayer.verifyplayer2' | translate }}
                            </button>
                            <div *ngIf="player2AuthStatus !== 'none'"
                                [ngClass]="{'auth-success': player2AuthStatus === 'success',
                                        'auth-error': player2AuthStatus === 'error'}"  
                                class="auth-message">
                                {{ player2AuthMessage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Player 3 Box -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="player-box">
                    <div class="formGroup">
                        <label>{{ 'multiplayer.player3type' | translate }}</label>
                        <div class="player2-options">
                            <label>
                                <input type="radio" formControlName="player3Type" value="guest" (change)="onPlayer3TypeChange('guest')" i18n>
                                {{ 'multiplayer.playasguest' | translate }}
                            </label>
                            <label>
                                <input type="radio" formControlName="player3Type" value="registered" (change)="onPlayer3TypeChange('registered')" i18n>
                                {{ 'multiplayer.playasregistereduser' | translate }}
                            </label>
                        </div>
                    </div>

                    <div *ngIf="!showPlayer3Auth">
                        <label for="player3">{{ 'multiplayer.player3name' | translate }}</label>
                        <input id="player3" formControlName="player3">
                        <div *ngIf="multiplayerForm.get('player3')?.touched && multiplayerForm.get('player3')?.invalid">
                            <small class="text-danger">{{ 'multiplayer.invalidname' | translate }}</small>
                        </div>
                    </div>

                    <div *ngIf="showPlayer3Auth" class="auth-form" [formGroup]="player3AuthForm">
                        <div class="formGroup">
                            <label for="username3">{{ 'multiplayer.username' | translate }}</label>
                            <input id="username3" formControlName="username">
                        </div>
                        <div class="formGroup">
                            <label for="password3">{{ 'multiplayer.password' | translate }}</label>
                            <input id="password3" type="password" formControlName="password">
                        </div>
                        <button type="button" (click)="authenticatePlayer3()">{{ 'multiplayer.verifyplayer3' | translate }}</button>
                        <div *ngIf="player3AuthStatus !== 'none'"
                            [ngClass]="{'auth-success': player3AuthStatus === 'success',
                                    'auth-error': player3AuthStatus === 'error'}"  
                            class="auth-message">
                            {{ player3AuthMessage }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Player 4 Box -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="player-box">
                    <div class="formGroup">
                        <label>{{ 'multiplayer.player4type' | translate }}</label>
                        <div class="player2-options">
                            <label>
                                <input type="radio" formControlName="player4Type" value="guest" (change)="onPlayer4TypeChange('guest')" i18n>
                                {{ 'multiplayer.playasguest' | translate }}
                            </label>
                            <label>
                                <input type="radio" formControlName="player4Type" value="registered" (change)="onPlayer4TypeChange('registered')" i18n>
                                {{ 'multiplayer.playasregistereduser' | translate }}
                            </label>
                        </div>
                    </div>

                    <div *ngIf="!showPlayer4Auth">
                        <label for="player4">{{ 'multiplayer.player4name' | translate }}</label>
                        <input id="player4" formControlName="player4">
                        <div *ngIf="multiplayerForm.get('player4')?.touched && multiplayerForm.get('player4')?.invalid">
                            <small class="text-danger">{{ 'multiplayer.invalidname' | translate }}</small>
                        </div>
                    </div>

                    <div *ngIf="showPlayer4Auth" class="auth-form" [formGroup]="player4AuthForm">
                        <div class="formGroup">
                            <label for="username4">{{ 'multiplayer.username' | translate }}</label>
                            <input id="username4" formControlName="username">
                        </div>
                        <div class="formGroup">
                            <label for="password4">{{ 'multiplayer.password' | translate }}</label>
                            <input id="password4" type="password" formControlName="password">
                        </div>
                        <button type="button" (click)="authenticatePlayer4()">{{ 'multiplayer.verifyplayer4' | translate }}</button>
                        <div *ngIf="player4AuthStatus !== 'none'"
                            [ngClass]="{'auth-success': player4AuthStatus === 'success',
                                    'auth-error': player4AuthStatus === 'error'}"  
                            class="auth-message">
                            {{ player4AuthMessage }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <button class="submit-login-btn" type="submit">{{ 'multiplayer.ready' | translate }}</button>
                <div *ngIf="multiplayerForm.errors?.['nonUniquePlayers']">
                    <small class="text-danger">{{ 'multiplayer.playernamesmustbeunique' | translate }}</small>
                </div>
            </div>
        </div>
    </form>
</div>
